<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>todolist</title>
    </head>
    <body>
        <h1>Todo</h1>

        <h2><%= JSON.stringify(todo) %></h2>
                
    </body>
</html>